out/
.cache/
compile_commands.json
example/build/compile_commands.json
example/build/out/
example/build/config/build_config
example/build/config/compile_commands.json
example/build/config/libconfig.so
